.confirmation-message {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: teal;
  font-family: 'Comfortaa', cursive;
  margin: 0 30px;
  text-transform: uppercase;
  color: white;
}
