%button {
  width: 140px;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #e90101df;
  }
}

$font-primary: 'Comfortaa', cursive;

$color-card-background: white;
$color-confirmation-background: teal;
$color-dark: #000000c8;
$color-red: red;
$color-green: green;
$color-blue: blue;
$color-text: white;
$color-card-text-primary: black;
$color-card-text-secondary: grey;
$color-form-text: rgba(255, 255, 255, 0.802);
$color-search-background: rgb(232, 240, 254), rgba(70, 90, 126, 0.4);
$color-loader-outer: red;
$color-loader-inner: white;
$color-overlay-background: rgba(0, 0, 0, 0.666);