%button {
  width: 140px;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #e90101df;
  }
}

$font-primary: 'Comfortaa', cursive;
