.footer {
  font-family: $font-primary;
  background-color: $color-dark;
  color: $color-text;
  padding: 20px;
  box-sizing: border-box;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__container {
  width: auto;
  display: flex;
  gap: 5px;
}

.footer__link {
  color: $color-text;
  text-decoration: none;
  transition: color 0.5s linear;

  &:hover {
    color: rgba(225, 224, 224, 0.789);
  }
}

.footer__text {
  margin: 0;
}