@import url(./normalize.scss);

#root {
  background-color: gainsboro;
  min-height: 100vh;
  position: relative;
}

.popup-opened {
  overflow: hidden;
}

.wrapper {
  max-width: 1360px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
