@import url(./normalize.scss);

#root {
  background-color: gainsboro;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;

  header,
  footer {
    flex: 0 0 100%;
  }

  main {
  flex: 1 0 100%;
    align-self: stretch;
    min-height: 100%;
  }

  header {
    justify-self: flex-start;
  }
  footer {
    justify-self: flex-end;
  }
}

.popup-opened {
  overflow: hidden;
}

.wrapper {
  max-width: 1360px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 480px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
